body{
    background-size: cover;
    text-align:center
}
.heading{
    margin-top:0px;
    width: 100%;
    font-size: 30;
    font-weight: bold;
}
#note{
    font-size: 15;
    color:black;
    font-weight:bold;
}
#song_name{
    font-size:30;
}
canvas{
    border:5px ridge white;
    border-radius: 20px;
}